
.mission-container:nth-child(odd) {
  background-color: #e5e5e5;
}

.mission-container-list {
  text-align: left;
  line-height: 1.5;

  table,
  th,
  td {
    border: 1px solid #c5c5c5;
    border-collapse: collapse;
  }

  th {
    color: #000;
    padding: 0.25rem;
    font-weight: 600;
  }

  td {
    padding: 0.25rem;

    &.name-field {
      font-weight: 600;
      color: #000;
    }

    &.description-field {
      font-size: 90%;
    }

    &.status-field,
    &.action-container {
      padding: 0.5rem;
      white-space: nowrap;
      text-align: center;
    }

    &.status-field {
      p {
        font-size: 85%;
        background-color: #555;
        color: #fff;
        padding: 0.125rem 0.25rem;
        border-radius: 0.25rem;

        &.active {
          background-color: #18a2b8;
        }
      }
    }

    &.action-container button {
      display: inline-block;
      font-weight: 400;
      line-height: 1.5;
      text-align: center;
      text-decoration: none;
      vertical-align: middle;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      background-color: transparent;
      border: 1px solid transparent;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      border-radius: 0.25rem;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      color: #6c757d;
      border-color: #6c757d;

      &:hover {
        color: #fff;
        background-color: #6c757d;
        border-color: #6c757d;
      }

      &.active {
        color: #dc3545;
        border-color: #dc3545;

        &:hover {
          color: #fff;
          background-color: #dc3545;
          border-color: #dc3545;
        }
      }
    }
  }
}
