.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #e8e8e8;

  @media only screen and (max-width: 750px) {
    padding: 0.4rem;
  }

  .brand-wrapper {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    &:link {
      text-decoration: none;
    }

    .brand {
      width: 2rem;
      height: 2rem;

      @media only screen and (max-width: 920px) {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    h1 {
      font-size: 1.2rem;
      font-weight: 500;
      color: #000;

      @media only screen and (max-width: 920px) {
        font-size: 0.8rem;
      }
    }
  }

  .nav-menu {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    padding: 0.5rem;

    @media only screen and (max-width: 920px) {
      gap: 1rem;
      font-size: 0.74rem;
      padding: 0;
    }

    li {
      list-style: none;

      a {
        text-decoration: none;
        font-weight: 500;
        color: #007bff;

        &:hover {
          text-decoration: underline;
          color: #00a2b8;
        }
      }

      .active {
        text-decoration: underline;
        color: #00a2b8;
      }
    }
  }
}
