.navbar,
.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;

  .navbar {
    border-bottom: 1px solid lightgray;
  }

  .brand-container {
    display: flex;
    /* flex-direction: row;
    justify-content: center; */
    align-items: center;
    font-size: 25px;
    margin-left: -9.9%;

    .brand {
      width: 70px;
      margin-right:  20px;
    }
  }

  .nav-menu li {
    list-style: none;

    a {
      margin-right: 32px;
      text-decoration: none;
      font-size: 18px;
      font-weight: 600;
      color: #007bff;

      &:hover {
        text-decoration: underline;
        color: #00a2b8;
      }
    }

    .active {
      text-decoration: underline;
      color: #00a2b8;
    }
  }
}
