.wrapper_profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
  margin-top: 1rem;
  padding: 0.5rem;

  @media only screen and (max-width: 920px) {
    grid-template-columns: 1fr;
  }

  .rockets-profile {
    margin-bottom: 1rem;
  }

  h2 {
    margin-bottom: 1rem;
    font-weight: 500;
    color: #000;
  }

  ul {
    border: 1px solid #c5c5c5;
    border-radius: 0.25rem;

    li {
      padding: 1rem;
    }

    li + li {
      border-top: 1px solid #c5c5c5;
    }
  }
}
