.wrapper_profile {
  display: flex;
  justify-content: center;
  .rockets-profile {
    margin: 20px;
    h3 {
      margin-bottom: 21px;
      color: #000;
    }
    li {
      border: 1px solid gray;
      width: 15rem;
      padding: 15px 25px;
      color: #191919;

      &.active {
        text-decoration: underline;
        color: black;
      }
    }
  }
}
