.rockets {
  padding: 1rem;
}

.rockets .wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
}

@media only screen and (max-width: 920px) {
  .rockets .wrapper {
    flex-direction: column;
    padding: 1rem;
  }
}

.rockets .wrapper .image {
  cursor: pointer;
  height: 100%;
}

.rockets .wrapper .image img {
  width: 280px;
  height: 250px;
  padding: 10px 5px;
}

@media only screen and (max-width: 920px) {
  .rockets .wrapper .image img {
    width: 100%;
    height: 350px;
  }
}

.rockets .wrapper .details {
  padding-left: 20px;
}

.rockets .wrapper .details h2 {
  font-weight: 500;
  color: #000;
}

.rockets .wrapper .details .rocket-p {
  font-size: 90%;
  line-height: 1.5;
  color: #000;
}

.rockets .wrapper .details .rocket-p small {
  background-color: #33a5ad;
  color: #fff;
  font-size: 15px;
  margin-right: 5px;
  border-radius: 10%;
  padding: 2px;
}

.rockets .wrapper .details button {
  background-color: #0290ff;
  color: #fff;
  border: 1px solid #0290ff;
  border-radius: 5%;
  padding: 0.5rem;
  cursor: pointer;
}

.rockets .wrapper .details .reservedButton {
  background-color: #fff;
  color: #0290ff;
}
