body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }

.wrapper {
    display: flex;
    align-items: center;
    margin: 2rem 0 2rem -12.5%;
}

h1 {
    display: flex;
    align-items: center;
    font-size: 25px;
    color: #000
  }

 .rockets {
    padding: 0 30px;
}

.details {
    padding-left: 20px;
  }

.image {
    cursor: pointer;
    height: 100%;
  }

  .rocket-p {
    color: #191919;
  }

  .rocketImage {
    width: 280px;
    height: 250px;
    padding: 10px 5px;
  }

  small {
    background-color: #33a5ad;
    color: #fff;
    font-size: 15px;
    margin-right: 5px;
    border-radius: 10%;
    padding: 2px;
  }

  button {
    background-color: #0290ff;
    color: #fff;
    border: 1px solid #0290ff;
    border-radius: 5%;
    padding: 0.5rem;
  }

  .reservedButton {
    background-color: #fff;
    color: #0290ff;
  }